<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>com.senagua.controlador.ControladorMostrarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleado</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleados</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleadoEdi</servlet-name>
        <servlet-class>com.senagua.controlador.ControEditarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleadoEli</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleadoNombre</servlet-name>
        <servlet-class>com.senagua.controlador.ControlBuscarEmpleadoNombre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/MostrarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleado</servlet-name>
        <url-pattern>/lIngresoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleados</servlet-name>
        <url-pattern>/IngresoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleadoEdi</servlet-name>
        <url-pattern>/EditarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleadoEli</servlet-name>
        <url-pattern>/EliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleadoNombre</servlet-name>
        <url-pattern>/BuscarEmpleadoNombre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
