<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>com.senagua.controlador.ControladorMostrarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleado</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleados</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleadoEdi</servlet-name>
        <servlet-class>com.senagua.controlador.ControEditarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleadoEli</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEmpleadoNombre</servlet-name>
        <servlet-class>com.senagua.controlador.ControlBuscarEmpleadoNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoEmpleado</servlet-name>
        <servlet-class>com.senagua.controlador.ControlMostrarTipoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoCliente</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoTipoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoClienteEd</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEditarTipoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoClienteel</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEliminarTipoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCliente</servlet-name>
        <servlet-class>com.senagua.controlador.ControlMostrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoMedidor</servlet-name>
        <servlet-class>com.senagua.controlador.ControlMostrarTipoMedidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoMedidor1</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoTipoMedidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoMedidorEd</servlet-name>
        <servlet-class>com.senagua.controlador.ControladorEditarTipoMedidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoMedidorE</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEliminarTipoMedidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMosMulta</servlet-name>
        <servlet-class>com.senagua.controlador.ControlMostrarMulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMulta</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoMulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEdMulta</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEditarMulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEliMulta</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEliminarMulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMosUsuario</servlet-name>
        <servlet-class>com.senagua.controlador.ControlMostrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDatos</servlet-name>
        <servlet-class>com.senagua.controlador.ControlMostrarUsuarioDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlInUsuario</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlElUsuario</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMPrecio</servlet-name>
        <servlet-class>com.senagua.controlador.ControlMostrarPrecio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlEdarPrecio</servlet-name>
        <servlet-class>com.senagua.controlador.ControlEditarPrecio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlIConsumo</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlIngMultaUsuario</servlet-name>
        <servlet-class>com.senagua.controlador.ControlIngresoMultaUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/MostrarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleado</servlet-name>
        <url-pattern>/lIngresoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleados</servlet-name>
        <url-pattern>/IngresoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleadoEdi</servlet-name>
        <url-pattern>/EditarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleadoEli</servlet-name>
        <url-pattern>/EliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEmpleadoNombre</servlet-name>
        <url-pattern>/BuscarEmpleadoNombre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoEmpleado</servlet-name>
        <url-pattern>/MostrarTipoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoCliente</servlet-name>
        <url-pattern>/lIngresoTipoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoClienteEd</servlet-name>
        <url-pattern>/EditarTipoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoClienteel</servlet-name>
        <url-pattern>/EliminarTipoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCliente</servlet-name>
        <url-pattern>/MostrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoMedidor</servlet-name>
        <url-pattern>/MostrarTipoMedidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoMedidor1</servlet-name>
        <url-pattern>/IngresoTipoMedidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipoMedidorEd</servlet-name>
        <url-pattern>/EditarTipoMedidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoMedidorE</servlet-name>
        <url-pattern>/EliminarTipoMedidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMosMulta</servlet-name>
        <url-pattern>/MostrarMulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMulta</servlet-name>
        <url-pattern>/IngresoMulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEdMulta</servlet-name>
        <url-pattern>/EditarMulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEliMulta</servlet-name>
        <url-pattern>/EliminarMulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMosUsuario</servlet-name>
        <url-pattern>/MostrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDatos</servlet-name>
        <url-pattern>/MostrarUsuarioDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlInUsuario</servlet-name>
        <url-pattern>/IngresoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlElUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMPrecio</servlet-name>
        <url-pattern>/MostrarPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlEdarPrecio</servlet-name>
        <url-pattern>/EditarPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlIConsumo</servlet-name>
        <url-pattern>/IngresoConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlIngMultaUsuario</servlet-name>
        <url-pattern>/IngresoMultaUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
